<header class="site-header">
  <div class="container nav-wrap">
    <a href="/" class="brand">Lux<span>Affiliate</span></a>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/artikel">Artikel</a>
    </nav>
  </div>
</header>
